<!-- <app-line-graph></app-line-graph> -->
<div class="sidebar">
    <mat-sidenav-container class="example-container" >
      <div class="nametag">APIplatform</div>
    </mat-sidenav-container>
  
    <div class="row-menu">
      <div class="col menus">
        <div class="col-sm-8 simage">
          <img src="/assets/icons/LHome.png" alt=" "height="20px" width="20px">
        </div>
        <div class="col-sm-8 simage">
          <img src="/assets/icons/menu.png" alt=" "height="20px" width="20px">
        </div>
        <div class="col-sm-8 simage">
          <img src="/assets/icons/Calender.png" alt=" "height="20px" width="20px">
        </div>
        <div class="col-sm-8 simage">
          <img src="/assets/icons/Thunder.png" alt=" "height="25px" width="25px">
        </div>
        <div class="col-sm-8 simage">
          <img src="/assets/icons/timer.png" alt=" "height="20px" width="20px">
          
        </div>
        <div class="col-sm-8 simage">
          <img src="/assets/icons/File.png" alt=" "height="20px" width="20px">
        </div>
        <div class="col-sm-8 simage">
          <img src="/assets/icons/tick.png" alt=" "height="25px" width="25px">
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="header">
    <div class="container-md">
      <div class="row link">
        <ul class="col left-menu">
          <div class="col-sm-8 simage">
            <img src="/assets/icons/Home.png" alt="" height="18px" width="18px">&nbsp;&nbsp;&nbsp;
          </div>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp; / </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">&nbsp;&nbsp; insights &nbsp;&nbsp;&nbsp;  / </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">&nbsp;&nbsp; Report &nbsp;&nbsp;&nbsp;  / </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp; GO to...  </a>
          </li>
        </ul>
  
        
  
        <ul class="col right-menu">
          <div class="col-sm-8 simage">
            <img src="/assets/icons/group.png" alt="" height="18px" width="18px">
          </div>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" aria-current="page">Crop Infrastructure</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-sm-8 simage">
            <img src="/assets/icons/man.png" alt="" height="18px" width="18px">&nbsp;&nbsp;&nbsp;
          </div>
          <li class="nav-item">
            <a class="nav-link">@jleonard</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-sm-8 simage">
            <img src="/assets/icons/book.png" alt="" height="25px" width="23px">&nbsp;&nbsp;&nbsp;
          </div>
          <li class="nav-item">
            <a class="nav-link">Help</a>
          </li>
        </ul>
      </div>
    </div>
    </div>  
  
  
  <div class="container-xl block">
    <p>Salesforce OAuth 2.0 Dialog Insights</p>
  </div>
  
  <div class="row percentage">
    <div class="col-sm-8">
      <div class="col boxx"> 
        <div class="simage">
          <img src="/assets/icons/blueFile.png" alt=" "height="20px" width="20px">
        </div>
        <span>Effective Pass Rate:
          <p>99.42</p>
        </span>
      </div>
    
      <div class="col boxx">
        <div class="simage">
          <img src="/assets/icons/bluetick.png" alt=" "height="25px" width="25px">
        </div>
        <span>Error %:
          <p>0.01%</p>
        </span>
      </div>
      <div class="col boxx">
        <div class="simage">
          <img src="/assets/icons/blueCalender.png" alt=" "height="20px" width="20px">
        </div>
        <span>Outlier %:
          <p>0.57%</p>
        </span>
      </div>
      <div class="col boxx">
        <div class="simage">
          <img src="/assets/icons/bluetimer.png" alt=" "height="20px" width="20px">
        </div>
        <span>Mean Latency:
          <p>333ms</p>
        </span>
      </div>
      <div class="col boxx">
        <div class="simage">
          <img src="/assets/icons/bluemenu.png" alt=" "height="20px" width="20px">
        </div>
        <span>CASC Score:
          <p>958</p>
        </span>
      </div>
      <div class="col boxx" style="border: none;">
        <div class="simage">
          <img src="/assets/icons/lock.png"  alt=" "height="20px" width="20px" > 
        </div>
        <span>Effective Pass Rate:
          <p>99.42%</p>
        </span>
      </div>
    </div>
      <div class="col-sm-4 Sbar">
        <div class="first">
          <div [ngStyle]="{'width.%' :width}" class="second"></div>        
        </div>
          <h1>42</h1>
          <h3>%</h3>
      </div>  
  </div>
  
  
  <div class="row graph">
    <div class="col left-graph">
      <div class="headlinname">Headline Figure</div>
      <div class="row table">
        <div class="col left-table">
          <p>Effective Service Level:</p>
          <p>Outliers:</p>
          <p>Days with outliers:</p>
          <p>Days without outliers:</p>
          <p>Outliers Clusters:</p>
          <p>Faster than 1069 ms:</p>
          <p>Faster than 1436 ms:</p>
          <p>Start date:</p>
          <p>End date:</p>
          <p>Statistics</p>
        </div>
        <div class="col right-table">
          <p>99.42% at 1069 ms</p>
          <p>0.58%</p>
          <p>27</p>
          <p>27</p>
          <p>27</p>
          <p>95.45%</p>
          <p>95.45%</p>
          <p>Aug 1,2019 3:01 EEST</p>
          <p>Aug 1,2019 3:01 EEST</p>
          <p>Location breakdown available here</p>
        </div>
      </div>
    </div> 
    <div class="col right-graph">Headline Figure
        <app-line-graph></app-line-graph>
    </div>

  </div>
  
  <div class="row Cprogressbar">
    <div class="col-sm-4 Circlebar">
      <div class="row tag">
        <p>Days in sample with perfomance</p>
          <button class="button button-stable button-clear" ng-click="myFunction()">
            <img src="/assets/icons/dot-menu.png" style="height:25px ;width:25px;background-color:none;" >
          </button>
      </div>
      <div class="row information">
        <div align="right-menu" style="margin: top 50px; ">
          <circle-progress [percent]="75" [space]="-10" [radius]="70"
          [innerStrokeWidth]="10" [outerStrokeWidth]="13" [outerStrokeColor]="'#FE6E77'" [innerStrokeColor]="'#1B1D30'" [animation]="true"
          [animationDuration]="1000"></circle-progress>
        </div>
          <div class="col dotline">
            <p>Days in sample with perfomance</p>
            <p>Days in sample with perfomance</p>
          </div>
      </div>
    </div>
    <div class="col-sm-4 Circlebar">
      <div class="row tag">
        <p>Outliers by Location</p>
        <button class="button button-stable button-clear" ng-click="myFunction()">
          <img src="/assets/icons/dot-menu.png" style="height:25px ;width:25px;background-color:none;" >
        </button>
      </div>
      <div class="row information">
        <div align="right-menu" style="margin: top 50px; ">
          <circle-progress [percent]="55" [space]="-10" [radius]="70"
          [innerStrokeWidth]="10" [outerStrokeWidth]="13" [outerStrokeColor]="'#7AEE76'" [innerStrokeColor]="'#1B1D30'" [animation]="true"
          [animationDuration]="1000"></circle-progress>
        </div>
          <div class="col dotline">
            <p>Days in sample with perfomance</p>
            <p>Days in sample with perfomance</p>
            <p>Days in sample with perfomance</p>
            <p>Days in sample with perfomance</p>
            <p>Days in sample with perfomance</p>
          </div>
      </div>
    </div>
    <div class="col-sm-4 Circlebar">
      <div class="row tag">
        <p>Days in sample with perfomance</p>
          <button class="button button-stable button-clear" ng-click="myFunction()">
            <img src="/assets/icons/dot-menu.png" style="height:25px ;width:25px;background-color:none;" >
          </button>
      </div>
      <div class="row information">
        <div align="right-menu" style="margin: top 50px; ">
          <circle-progress [percent]="75" [space]="-10" [radius]="70"
          [innerStrokeWidth]="10" [outerStrokeWidth]="13" [outerStrokeColor]="'#00AAF6'" [innerStrokeColor]="'#1B1D30'" [animation]="true"
          [animationDuration]="1000"></circle-progress>
        </div>
          <div class="col dotline">
            <p>Days in sample with perfomance</p>
            <p>Days in sample with perfomance</p>
          </div>
      </div>
    </div>
  </div>